---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      I am a Product Designer and UX Designer with more than 8 years of experience in the financial industry, where I have integrated high-performance multidisciplinary teams. My design approach is user-centered, applying design thinking methodologies to understand their needs and behaviors. <br><br> From initial research to implementation, I follow an iterative process that includes prototyping, testing, and adjustments based on real feedback. <br><br>I have a solid ability to negotiate and reach agreements with business, product and engineering areas, which allows me to align objectives and maximize results. <br><br>With a data-driven approach, I use metrics and analysis to inform my design decisions, always with the goal of creating experiences that positively impact the business.
    </p>
  </div>

  

</article>

